[user]
	name = Adam Garren
	email = agarren@risclarity.com 
[alias]
	co = checkout
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        hidden= ! git ls-files -v . | grep ^S
	hide = update-index --skip-worktree
	unhide = update-index --no-skip-worktree
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
        untracked= ls-files -o --exclude-standard
[core]
	editor = vim
	excludesfile = /Users/adamgarren/.gitignore_global
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[log]
	date = relative
[pull]
	rebase = true
[gui]
	fontui = -family .AppleSystemUIFont -size 14 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Menlo -size 14 -weight normal -slant roman -underline 0 -overstrike 0
