[user]
	name = Adam Garren
	email = garren@users.noreply.github.com
[alias]
	co = checkout
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[core]
	editor = vim
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
