[user]
	name = Adam Garren
	email = agarren@risclarity.com 
[alias]
	co = checkout
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	hide = update-index --skip-worktree
	unhide = update-index --no-skip-worktree
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[core]
	editor = vim
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[log]
	date = relative
